n8n/contact.json
{
  "name": "Swayup - Contact Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "swayup/contact",
        "responseMode": "responseNode"
      },
      "id": "cbf3f2bc-f286-4ecf-8ddd-0de0c00f22b4",
      "name": "Contact Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst reference = `ct-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`;\n\ntry {\n  const input = ($json && typeof $json === 'object') ? $json : {};\n  const bodyCandidate = (input.body && typeof input.body === 'object') ? input.body : input;\n  const body = (bodyCandidate && typeof bodyCandidate === 'object') ? bodyCandidate : {};\n\n  const toText = (value) => {\n    try {\n      if (value === null || value === undefined) return '';\n      if (Array.isArray(value)) {\n        return value.map(toText).filter(Boolean).join(', ');\n      }\n      return String(value)\n        .replace(/[\\u0000-\\u001F\\u007F]+/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n    } catch (_err) {\n      return '';\n    }\n  };\n\n  const toLower = (value) => toText(value).toLowerCase();\n\n  const pick = (...keys) => {\n    for (const key of keys) {\n      if (Object.prototype.hasOwnProperty.call(body, key)) {\n        const value = toText(body[key]);\n        if (value) return value;\n      }\n    }\n    return '';\n  };\n\n  const normalizeService = (value) => {\n    const raw = toLower(value);\n    if (!raw) return 'non-renseigne';\n    if (raw.includes('site')) return 'site-web';\n    if (raw.includes('identite') || raw.includes('logo') || raw.includes('artist')) return 'identite-visuelle';\n    if (raw.includes('support') || raw.includes('print') || raw.includes('physique') || raw.includes('carte') || raw.includes('flyer')) return 'support-physique';\n    if (raw.includes('kit') || raw.includes('arpenteur')) return 'kit-arpenteur';\n    return 'autre';\n  };\n\n  const normalizeBudget = (value) => {\n    const raw = toLower(value);\n    if (!raw) return 'non-renseigne';\n    if (raw.includes('moins') || raw.includes('1000')) return 'moins-1000';\n    if ((raw.includes('1000') && raw.includes('3000')) || raw.includes('1.000') || raw.includes('3.000')) return '1000-3000';\n    if ((raw.includes('3000') && raw.includes('6000')) || raw.includes('3.000') || raw.includes('6.000')) return '3000-6000';\n    if (raw.includes('plus') || raw.includes('6000')) return 'plus-6000';\n    if (raw.includes('sais pas') || raw.includes('ne sait pas') || raw.includes('inconnu')) return 'ne-sait-pas';\n    return 'autre';\n  };\n\n  const firstName = pick('prenom', 'firstName', 'firstname', 'first_name', 'name');\n  const lastName = pick('nom', 'lastName', 'lastname', 'last_name', 'surname');\n  const email = toLower(pick('email', 'mail', 'emailAddress', 'email_address'));\n  const phone = pick('telephone', 'phone', 'tel', 'mobile', 'numero');\n  const serviceRaw = pick('service', 'project_type', 'type', 'besoin', 'besoins');\n  const budgetRaw = pick('budget', 'budget_approximatif', 'price_range', 'priceRange');\n  const message = pick('message', 'note', 'notes', 'details', 'description');\n\n  const knownKeys = new Set([\n    'prenom', 'firstName', 'firstname', 'first_name', 'name',\n    'nom', 'lastName', 'lastname', 'last_name', 'surname',\n    'email', 'mail', 'emailAddress', 'email_address',\n    'telephone', 'phone', 'tel', 'mobile', 'numero',\n    'service', 'project_type', 'type', 'besoin', 'besoins',\n    'budget', 'budget_approximatif', 'price_range', 'priceRange',\n    'message', 'note', 'notes', 'details', 'description'\n  ]);\n\n  const extras = {};\n  Object.keys(body).forEach((key) => {\n    if (!knownKeys.has(key)) {\n      extras[key] = toText(body[key]);\n    }\n  });\n\n  const hasContact = Boolean(email || phone);\n  const hasNeed = Boolean(message || serviceRaw || budgetRaw || firstName || lastName);\n  const hasMinimumData = hasContact && hasNeed;\n\n  const responseBody = hasMinimumData\n    ? {\n        status: 'success',\n        message: 'Merci pour votre message. Nous l\\'avons bien reçu et nous revenons vers vous sous 24h ouvrables.',\n        data: { source: 'contact', reference, receivedAt: nowIso }\n      }\n    : {\n        status: 'error',\n        message: 'Merci, votre demande est bien arrivée. Pour pouvoir vous répondre correctement, ajoutez au moins un moyen de contact (email ou téléphone) et un peu de contexte, puis renvoyez le formulaire.',\n        data: { source: 'contact', reference, receivedAt: nowIso }\n      };\n\n  return [{\n    json: {\n      source: 'contact',\n      reference,\n      receivedAt: nowIso,\n      isError: !hasMinimumData,\n      responseCode: hasMinimumData ? 200 : 422,\n      responseBody,\n      normalizedPayload: {\n        firstName,\n        lastName,\n        email,\n        phone,\n        service: normalizeService(serviceRaw),\n        serviceRaw: toText(serviceRaw),\n        budget: normalizeBudget(budgetRaw),\n        budgetRaw: toText(budgetRaw),\n        message,\n        extras\n      },\n      rawPayload: body\n    }\n  }];\n} catch (err) {\n  return [{\n    json: {\n      source: 'contact',\n      reference,\n      receivedAt: nowIso,\n      isError: true,\n      responseCode: 422,\n      responseBody: {\n        status: 'error',\n        message: 'Merci, votre formulaire est bien reçu. Un petit souci technique empêche la lecture complète pour le moment. Vous pouvez réessayer dans quelques instants.',\n        data: { source: 'contact', reference, receivedAt: nowIso }\n      },\n      normalizedPayload: {},\n      rawPayload: {}\n    }\n  }];\n}"
      },
      "id": "4a41ebf0-831e-43fe-ab6f-8df865455843",
      "name": "Normalize Contact Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isError }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "9b97083f-5942-4f7c-82c4-c49326f21dcd",
      "name": "Contact Is Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "8f98650b-db38-41d1-9d5b-9887a24dbffe",
      "name": "Respond Contact Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        180,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "50deeb6d-1fe4-450e-89b0-46211dca8300",
      "name": "Respond Contact Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        180,
        380
      ]
    }
  ],
  "connections": {
    "Contact Webhook": {
      "main": [
        [
          {
            "node": "Normalize Contact Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Contact Payload": {
      "main": [
        [
          {
            "node": "Contact Is Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Is Error?": {
      "main": [
        [
          {
            "node": "Respond Contact Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Contact Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
