n8n/kit-arpenteur.json
{
  "name": "Swayup - Kit Arpenteur Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "swayup/kit-arpenteur",
        "responseMode": "responseNode"
      },
      "id": "4fd80b4b-9f77-4690-ad42-151b20e9d07e",
      "name": "Kit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst reference = `kit-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`;\n\ntry {\n  const input = ($json && typeof $json === 'object') ? $json : {};\n  const bodyCandidate = (input.body && typeof input.body === 'object') ? input.body : input;\n  const body = (bodyCandidate && typeof bodyCandidate === 'object') ? bodyCandidate : {};\n\n  const toText = (value) => {\n    try {\n      if (value === null || value === undefined) return '';\n      if (Array.isArray(value)) {\n        return value.map(toText).filter(Boolean).join(', ');\n      }\n      return String(value)\n        .replace(/[\\u0000-\\u001F\\u007F]+/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n    } catch (_err) {\n      return '';\n    }\n  };\n\n  const toLower = (value) => toText(value).toLowerCase();\n\n  const pick = (...keys) => {\n    for (const key of keys) {\n      if (Object.prototype.hasOwnProperty.call(body, key)) {\n        const value = toText(body[key]);\n        if (value) return value;\n      }\n    }\n    return '';\n  };\n\n  const normalizeTimeline = (value) => {\n    const raw = toLower(value);\n    if (!raw) return 'non-renseigne';\n    if (raw.includes('urgent') || raw.includes('1 mois') || raw.includes('moins')) return 'urgent';\n    if (raw.includes('1-3') || (raw.includes('1') && raw.includes('3') && raw.includes('mois'))) return '1-3-mois';\n    if (raw.includes('3-6') || (raw.includes('3') && raw.includes('6') && raw.includes('mois'))) return '3-6-mois';\n    if (raw.includes('pas') || raw.includes('presse')) return 'pas-presse';\n    return 'autre';\n  };\n\n  const firstName = pick('prenom', 'firstName', 'firstname', 'first_name', 'name');\n  const lastName = pick('nom', 'lastName', 'lastname', 'last_name', 'surname');\n  const email = toLower(pick('email', 'mail', 'emailAddress', 'email_address'));\n  const phone = pick('telephone', 'phone', 'tel', 'mobile', 'numero');\n  const company = pick('entreprise', 'company', 'societe', 'business_name');\n  const sector = pick('secteur', 'secteur_activite', 'industry', 'domaine');\n  const website = pick('site_actuel', 'site', 'website', 'url');\n  const needs = pick('besoins', 'besoin', 'project_need', 'project');\n  const timelineRaw = pick('delai', 'timeline', 'deadline', 'timeframe');\n  const note = pick('message', 'note', 'notes', 'details');\n\n  const knownKeys = new Set([\n    'prenom', 'firstName', 'firstname', 'first_name', 'name',\n    'nom', 'lastName', 'lastname', 'last_name', 'surname',\n    'email', 'mail', 'emailAddress', 'email_address',\n    'telephone', 'phone', 'tel', 'mobile', 'numero',\n    'entreprise', 'company', 'societe', 'business_name',\n    'secteur', 'secteur_activite', 'industry', 'domaine',\n    'site_actuel', 'site', 'website', 'url',\n    'besoins', 'besoin', 'project_need', 'project',\n    'delai', 'timeline', 'deadline', 'timeframe',\n    'message', 'note', 'notes', 'details'\n  ]);\n\n  const extras = {};\n  Object.keys(body).forEach((key) => {\n    if (!knownKeys.has(key)) {\n      extras[key] = toText(body[key]);\n    }\n  });\n\n  const hasContact = Boolean(email || phone);\n  const hasNeed = Boolean(needs || company || sector || note || firstName || lastName);\n  const hasMinimumData = hasContact && hasNeed;\n\n  const responseBody = hasMinimumData\n    ? {\n        status: 'success',\n        message: 'Merci beaucoup. Votre demande de kit gratuit est bien reçue. Nous revenons vers vous sous 24h ouvrables avec la suite.',\n        data: { source: 'kit-arpenteur', reference, receivedAt: nowIso }\n      }\n    : {\n        status: 'error',\n        message: 'Merci, votre demande est bien arrivée. Pour qu\\'on puisse la traiter au mieux, ajoutez un moyen de contact (email ou téléphone) et votre besoin principal, puis renvoyez le formulaire.',\n        data: { source: 'kit-arpenteur', reference, receivedAt: nowIso }\n      };\n\n  return [{\n    json: {\n      source: 'kit-arpenteur',\n      reference,\n      receivedAt: nowIso,\n      isError: !hasMinimumData,\n      responseCode: hasMinimumData ? 200 : 422,\n      responseBody,\n      normalizedPayload: {\n        firstName,\n        lastName,\n        email,\n        phone,\n        company,\n        sector,\n        website,\n        needs,\n        timeline: normalizeTimeline(timelineRaw),\n        timelineRaw: toText(timelineRaw),\n        note,\n        extras\n      },\n      rawPayload: body\n    }\n  }];\n} catch (err) {\n  return [{\n    json: {\n      source: 'kit-arpenteur',\n      reference,\n      receivedAt: nowIso,\n      isError: true,\n      responseCode: 422,\n      responseBody: {\n        status: 'error',\n        message: 'Merci, votre formulaire est bien reçu. Un petit souci technique empêche la lecture complète pour le moment. Vous pouvez réessayer dans quelques instants.',\n        data: { source: 'kit-arpenteur', reference, receivedAt: nowIso }\n      },\n      normalizedPayload: {},\n      rawPayload: {}\n    }\n  }];\n}"
      },
      "id": "fe4d7863-f4e8-465d-bb5f-b31f5ce631ec",
      "name": "Normalize Kit Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isError }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "fdb24adf-d835-47f4-bce4-bf65fc4cd0a8",
      "name": "Kit Is Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "d12a771f-14a2-4d3c-8118-4a46c8de73d3",
      "name": "Respond Kit Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        180,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "3943e7f4-8f28-4139-a975-553b2a4318e7",
      "name": "Respond Kit Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        180,
        600
      ]
    }
  ],
  "connections": {
    "Kit Webhook": {
      "main": [
        [
          {
            "node": "Normalize Kit Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Kit Payload": {
      "main": [
        [
          {
            "node": "Kit Is Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kit Is Error?": {
      "main": [
        [
          {
            "node": "Respond Kit Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Kit Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
