n8n/kit-arpenteur.json
{
  "name": "Swayup - Kit Arpenteur Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "swayup/kit-arpenteur",
        "responseMode": "responseNode"
      },
      "id": "4fd80b4b-9f77-4690-ad42-151b20e9d07e",
      "name": "Kit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = ($json && typeof $json === 'object') ? $json : {};\nconst body = (input.body && typeof input.body === 'object') ? input.body : input;\n\nconst toText = (value) => {\n  if (value === null || value === undefined) return '';\n  if (Array.isArray(value)) {\n    return value.map(toText).filter(Boolean).join(', ');\n  }\n  return String(value).replace(/\\s+/g, ' ').trim();\n};\n\nconst toLower = (value) => toText(value).toLowerCase();\n\nconst pick = (...keys) => {\n  for (const key of keys) {\n    if (Object.prototype.hasOwnProperty.call(body, key)) {\n      const value = toText(body[key]);\n      if (value) return value;\n    }\n  }\n  return '';\n};\n\nconst normalizeTimeline = (value) => {\n  const raw = toLower(value);\n  if (!raw) return 'non-renseigne';\n  if (raw.includes('urgent') || raw.includes('1 mois') || raw.includes('moins')) return 'urgent';\n  if (raw.includes('1-3') || (raw.includes('1') && raw.includes('3') && raw.includes('mois'))) return '1-3-mois';\n  if (raw.includes('3-6') || (raw.includes('3') && raw.includes('6') && raw.includes('mois'))) return '3-6-mois';\n  if (raw.includes('pas') || raw.includes('presse')) return 'pas-presse';\n  return 'autre';\n};\n\nconst firstName = pick('prenom', 'firstName', 'firstname', 'first_name', 'name');\nconst lastName = pick('nom', 'lastName', 'lastname', 'last_name', 'surname');\nconst email = toLower(pick('email', 'mail', 'emailAddress', 'email_address'));\nconst phone = pick('telephone', 'phone', 'tel', 'mobile', 'numero');\nconst company = pick('entreprise', 'company', 'societe', 'business_name');\nconst sector = pick('secteur', 'secteur_activite', 'industry', 'domaine');\nconst website = pick('site_actuel', 'site', 'website', 'url');\nconst needs = pick('besoins', 'besoin', 'project_need', 'project');\nconst timelineRaw = pick('delai', 'timeline', 'deadline', 'timeframe');\nconst note = pick('message', 'note', 'notes', 'details');\n\nconst knownKeys = new Set([\n  'prenom', 'firstName', 'firstname', 'first_name', 'name',\n  'nom', 'lastName', 'lastname', 'last_name', 'surname',\n  'email', 'mail', 'emailAddress', 'email_address',\n  'telephone', 'phone', 'tel', 'mobile', 'numero',\n  'entreprise', 'company', 'societe', 'business_name',\n  'secteur', 'secteur_activite', 'industry', 'domaine',\n  'site_actuel', 'site', 'website', 'url',\n  'besoins', 'besoin', 'project_need', 'project',\n  'delai', 'timeline', 'deadline', 'timeframe',\n  'message', 'note', 'notes', 'details'\n]);\n\nconst extras = {};\nObject.keys(body || {}).forEach((key) => {\n  if (!knownKeys.has(key)) {\n    extras[key] = toText(body[key]);\n  }\n});\n\nconst hasMeaningfulData = [firstName, lastName, email, phone, company, sector, website, needs, timelineRaw, note].some(Boolean);\nconst receivedAt = new Date().toISOString();\nconst reference = `kit-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`;\n\nconst responseBody = hasMeaningfulData\n  ? {\n      status: 'success',\n      message: 'Merci, votre demande de kit gratuit est bien recue. Nous revenons vers vous sous 24h ouvrables.',\n      data: { source: 'kit-arpenteur', reference, receivedAt }\n    }\n  : {\n      status: 'error',\n      message: 'Nous n\\'avons pas pu lire correctement votre formulaire. Verifiez les champs principaux puis reessayez.',\n      data: { source: 'kit-arpenteur', reference, receivedAt }\n    };\n\nreturn [{\n  json: {\n    source: 'kit-arpenteur',\n    reference,\n    receivedAt,\n    normalizedPayload: {\n      firstName,\n      lastName,\n      email,\n      phone,\n      company,\n      sector,\n      website,\n      needs,\n      timeline: normalizeTimeline(timelineRaw),\n      timelineRaw: toText(timelineRaw),\n      note,\n      extras\n    },\n    rawPayload: body,\n    responseCode: hasMeaningfulData ? 200 : 422,\n    responseBody\n  }\n}];"
      },
      "id": "fe4d7863-f4e8-465d-bb5f-b31f5ce631ec",
      "name": "Normalize Kit Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": "={{ $json.responseCode }}"
        }
      },
      "id": "c14da5f9-2ae0-42f0-8ed4-4958df5d2a51",
      "name": "Respond Kit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        20,
        520
      ]
    }
  ],
  "connections": {
    "Kit Webhook": {
      "main": [
        [
          {
            "node": "Normalize Kit Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Kit Payload": {
      "main": [
        [
          {
            "node": "Respond Kit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
