n8n/workflow_n8n-exemple/Formulaire Concours Mystic Green.json
{
  "name": "Formulaire Concours Mystic Green",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mysticgreen-concours-fdm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "659295d4-70d3-4666-bbf8-f5f294f2e250",
      "name": "Webhook Form1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -192,
        688
      ],
      "webhookId": "mysticgreen-concours-fdm"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\nconst normalize = (value) => String(value ?? '').trim();\nconst email = normalize(body.email).toLowerCase();\nconst payload = {\n  fullName: normalize(body.fullName),\n  email,\n  phone: normalize(body.phone),\n  discovery: normalize(body.discovery),\n  source: normalize(body.source) || 'grand-concours-fete-des-meres',\n  submittedAt: new Date().toISOString()\n};\n\nconst errors = [];\n\nif (!payload.fullName) errors.push('Le nom complet est requis.');\nif (!payload.email || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(payload.email)) errors.push('Un email valide est requis.');\nif (!payload.phone) errors.push('Le telephone est requis.');\nif (!payload.discovery) errors.push('Le champ de decouverte est requis.');\n\nreturn [{\n  json: {\n    ok: errors.length === 0,\n    errors,\n    payload\n  }\n}];"
      },
      "id": "d07867a0-72fa-4fe1-9e07-54622bb39c5c",
      "name": "Validate And Prepare1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "632f14a6-b403-41a3-bfb9-8d2297165480",
      "name": "Is Valid?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        336,
        688
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Participation enregistree', data: $json.payload }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2883401a-d457-46b6-919c-e9a8a16878a9",
      "name": "Respond Success1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        608,
        576
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Validation impossible', errors: $json.errors }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "bc4aae23-c1af-4da7-86b9-a6326fade047",
      "name": "Respond Error1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        608,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "=6015467948,8712580503",
        "text": "=🌼 INSCRIPTION CONCOURS 🌼\nInscription ajoutée avec succès dans Google Sheets.",
        "additionalFields": {}
      },
      "id": "17e63b5a-e3b8-4b43-97c0-6190864148bb",
      "name": "Telegram - Commande Reçue1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        576
      ],
      "webhookId": "d2778a35-b9be-459e-bf94-2db28aac0868",
      "credentials": {
        "telegramApi": {
          "id": "dEqNSMFjtlkM0I6l",
          "name": "Telegram account 3"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-B4h6z1yKRfqpJgrYGnixjryfG2eF6ZOLEhmJpAQK_k",
          "mode": "list",
          "cachedResultName": "CRM - GESTIONNAIRE CLIENT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-B4h6z1yKRfqpJgrYGnixjryfG2eF6ZOLEhmJpAQK_k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 76734004,
          "mode": "list",
          "cachedResultName": "CONCOURS-FDM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-B4h6z1yKRfqpJgrYGnixjryfG2eF6ZOLEhmJpAQK_k/edit#gid=76734004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOM COMPLET": "={{ $('Respond Success1').item.json.payload.fullName }}",
            "DATE ENVOI": "={{ $('Respond Success1').item.json.payload.submittedAt }}",
            "EMAIL": "={{ $('Respond Success1').item.json.payload.email }}",
            "TELEPHONE": "={{ $('Respond Success1').item.json.payload.phone }}",
            "SOURCE AQUISITION": "={{ $('Respond Success1').item.json.payload.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE ENVOI",
              "displayName": "DATE ENVOI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOM COMPLET",
              "displayName": "NOM COMPLET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEPHONE",
              "displayName": "TELEPHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SOURCE AQUISITION",
              "displayName": "SOURCE AQUISITION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        576
      ],
      "id": "585aa7f6-a7fc-46b8-9ab4-21a5c39970eb",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "U6DznjDFKifiQ7o7",
          "name": "SERVICE ACCOUNT - MYSTIC GREEN - KEY - ADMIN - CRM-BACKEND"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "subject": "Nouvelle commande fete des mères",
        "textContent": "Nouvelle inscription concours fête des mère -> Veuillez regarder les détails dans le gestionnaire client.",
        "sender": "contact@mysticgreen.be",
        "receipients": "dionsylvie@ymail.com",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        1280,
        576
      ],
      "id": "1daee838-5ec0-42f2-b430-504142cafcc7",
      "name": "Send a transactional email1",
      "credentials": {
        "sendInBlueApi": {
          "id": "XHYriTFGikT91KMh",
          "name": "mysticgreen auth 2 brevo"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=6015467948,8712580503",
        "text": "=❌ UNE ERREUR EST SURVENUE ❌ CONCOURS FÊTE DES MERES ",
        "additionalFields": {}
      },
      "id": "68e74bd3-0a8d-47bb-a07f-9ddb0e30329f",
      "name": "Telegram - Commande Reçue",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        800
      ],
      "webhookId": "d2778a35-b9be-459e-bf94-2db28aac0868",
      "credentials": {
        "telegramApi": {
          "id": "dEqNSMFjtlkM0I6l",
          "name": "Telegram account 3"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Form1": {
      "main": [
        [
          {
            "node": "Validate And Prepare1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate And Prepare1": {
      "main": [
        [
          {
            "node": "Is Valid?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?1": {
      "main": [
        [
          {
            "node": "Respond Success1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Success1": {
      "main": [
        [
          {
            "node": "Telegram - Commande Reçue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Commande Reçue1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a transactional email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Error1": {
      "main": [
        [
          {
            "node": "Telegram - Commande Reçue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac3d3260-c34f-4fb0-9ef0-1f78b6b372b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55ba9fbbb2e7e6dc183748a2bd385792bf4e7da7d7b46b196dc91894fb85b8ec"
  },
  "id": "mddtPIvXVGZG7kqI",
  "tags": []
}